<!-- TEST1: BAGFILE:send usbllong from USBL and create a sensors/modem_raw mesage in the AUV-->
<launch>
	<rosparam command="load" file="$(find turbot)/conf/param_modem.yaml" />
	<rosparam command="load" file="$(find turbot)/conf/topics_modem.yaml"/>

	<!-- MODEM -->
    <!-- driver -->
    <node name="modem" pkg="evologics_ros" type="evologics_node.py" output="screen">
    	<remap from="/modem/im/in" to="/im/in"/>
		<remap from="/modem/im/out" to="/im/out"/>
    </node>


	<!--acoustic_link-->
	<node pkg="acoustic_link" name="acoustic_link_modem" type="acoustic_link_node" output="screen">
	</node> 
</launch>
