<launch>
    <!-- start the usbl -->
    <node name="modem" pkg="evologics_ros" type="evologics_node.py" output="screen">
    <rosparam command="load" file="$(find evologics_ros)/conf/modem.yaml" />
    </node>

	<!--acoustic_link MODEM -->
	<node pkg="acoustic_link" name="acoustic_link_MODEM" type="acoustic_link_node" output="screen">
		<rosparam command="load" file="$(find acoustic_link)/config/params_modem.yaml"/>
		<remap from="/im/in" to="/modem/im/in"/>
		<remap from="/im/out" to="/modem/im/out"/>

	</node> 
</launch>
