<!-- TEST1: BAGFILE:send usbllong from USBL and create a sensors/modem_raw mesage in the AUV-->
<!-- TEST2: SIMULATION: send info to USBL-->
<launch>
  <!-- SIMULATION -->
    <include file="$(find turbot_configurations)/launch/simulation.launch">
      <arg name="enableImu"   value="true"/>
      <arg name="enableDepth" value="true"/>
      <arg name="enableDvl"   value="true"/>
      <arg name="enableGps"   value="true"/>
      <arg name="enableModem" value="true"/>
      <arg name="enableVO"    value="false"/>
      <arg name="enableUWSim" value="true"/>
    </include>

    <!-- ACOUSTIC LINKS WITH REMAPING -->
	<!--acoustic_link USBL -->
	<node pkg="acoustic_link" name="usbl" type="acoustic_link_node" output="screen">
		<rosparam command="load" file="$(find acoustic_link)/conf/topics_usbl_test.yaml"/>
		<remap from="/im/in" to="/modem/im/out"/>
		<remap from="/im/out" to="/usbl/im/out"/>
	</node>
	<!--acoustic_link MODEM -->
	<node pkg="acoustic_link" name="modem" type="acoustic_link_node" output="screen">
		<rosparam command="load" file="$(find acoustic_link)/conf/topics_modem_test.yaml"/>
		<remap from="/im/in" to="/usbl/im/out"/>
		<remap from="/im/out" to="/modem/im/out"/>
	</node>

	<!-- USBLLONG TO SENSORS/MODEM_RAW -->
 	<node pkg="usbl_position" name="usbl_position" type="usbl_position_node" output="screen">
 		<remap from="/usbl/usbllong" to="/usbl/usbllong2"/>
 		<remap from="/usbl/usblangles" to="/usbl/usblangles2"/>
	</node>
</launch>